h1 {
  font-size: 20px;
}

#name { 
  font-size: 23px;
}

.profile-card {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.profile-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-back {
  width: 170px;
  border-radius: 6px;
  padding: 12px 18px;
  background-color: #0079FF;
}

.btn-back:hover {
  cursor: pointer;
  background-color: #3390fa;
}

@media screen and (max-width: 900px) {
  .profile-card {
    height: 600px;
  }

  .profile-content {
    flex-direction: column;
  }

  .profile-header {
    justify-content: center;
    align-items: center;
  }

  .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}