#login {
  color: #0079FF;
}

.profile-card {
  padding: 30px;
  border-radius: 15px;
  background-color: var(--card-color);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-header {
  display: flex;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.profile-photo {
  border-radius: 50%;
  height: 170px;
}

.profile-stats {
  width: 470px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin: 10px 0;
  padding: 25px 15px;
  border-radius: 15px;
}

.repos, .followers, .following {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  border-radius: 6px;
  background-color: #1F2A41;
  color: #0079FF;
}

.profile-infos {
  width: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.profile-icon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-icon img {
  width: 22px;
  height: 22px;
}