@import 'extra.css';

#repos-name {
  font-size: 2.2rem;
}

#repo-description {
  font-size: 1.5rem;
  margin-top: 5px;
  font-family: 'Roboto Mono';
}

.repos {
  display: flex;
  flex-direction: column;
}

.repo {
  width: 470px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #141D2F;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 15px;
}

.repo-info {
  display: flex; 
  flex-direction: column;
}

.star {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  border-radius: 6px;
  background-color: #1F2A41;
  color: #0079FF;
}

.star span {
  font-size: 28px;
}

#total-stars {
  font-family: 'Roboto Mono';
  font-size: 1rem;
  position: absolute;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .profile-card {
    width: 320px;
  }

  .repo {
    width: 250px;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .repo {
    width: 300px;
  }

  .star {
    width: 26px;
    height: 24px;
  }

  .star span {
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .repo {
    width: 400px;
  }
}