@import 'extra.css';

.repos {
  display: flex;
  flex-direction: column;
}

.repo {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #141D2F;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 15px;
}

.repo-info {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.star {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  border-radius: 6px;
  background-color: #1F2A41;
  color: #0079FF;
}

.star span {
  font-size: 28px;
}

#total-stars {
  font-size: 10px;
  position: absolute;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .repo{
    width: 300px;
  }
}